{% extends 'Boutique/base.html' %}
{% block content %}
<h2>Historique des Commandes</h2>
{% for com in commandes %}
  <!-- <p>
    Commande n°{{ com.ncom }} -
    Client : {{ com.ncli }} -
    Mois : {{ com.datecom|date:"F" }}
  </p> -->

  <div style="border: 1px solid #333; margin-bottom: 20px; padding: 10px;">
  <h3>Commande n°{{ com.ncom }} - Client : {{ com.client.nom }}</h3>

  <p>Articles dans cette commande :</p>
  <ul>
    {% for ligne in com.lignes.all %}
      <li>{{ ligne.produit.libelle }} (Qté : {{ ligne.qcom }})</li>
    {% empty %}
      <li>Aucun article enregistré.</li>
    {% endfor %}
  </ul>
  
</div>
{% empty %}
  <p>Aucune commande.</p>
{% endfor %}
{% endblock %}