
{% extends 'Boutique/base.html' %}

{% block content %}

<h2>Liste Simple des Détails</h2>

<table border="1" width="100%">

  <thead>
    <tr>
      <th>Commande</th>
      <th>Produit</th>
      <th>Quantité</th>
      <th>Client / Localité</th>
    </tr>
  </thead>

  <tbody>
    {% for d in details %}
    <tr>
      <td>
        Commande n°{{ d.commande.ncom }} du {{ d.commande.datecom|date:"d/m/Y" }}
      </td>

      <td>
        {{ d.produit.libelle }}
      </td>

      <td style="text-align: center;">
        {{ d.qcom }}
      </td>

      <td>
        Client de : {{ d.commande.client.localite }}
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}