{% extends 'Boutique/base.html' %}
{% block content %}

<h2>Stock Produits</h2>

<a href="{% url 'ajouter_produit' %}" 
   style="background: green; color: white; padding: 10px; text-decoration: none;">
   + Ajouter Produit
</a>

<br><br>

<ul>
  {% for p in produits %}
  <li>
    
    <!-- Nom + slug -->
    {{ p.libelle|capfirst }}
    <small style="color: gray;">({{ p.libelle|slugify }})</small>
    
    <!-- Référence -->
    (Réf: {{ p.npro }}) -
    
    <!-- Stock -->
    <strong>Stock : {{ p.qstock }}</strong>
    
    {% if p.qstock < 100 %}
      <span style="color:red;"> ALERTE</span>
    {% endif %}

    <!-- Actions -->
    |
    <a href="{% url 'modifier_produit' p.npro %}">✏️ Modifier</a>
    |
    <a href="{% url 'supprimer_produit' p.npro %}" style="color: red;">
      🗑️ Supprimer
    </a>

  </li>
  {% endfor %}
</ul>

{% endblock %}